body {
}
.btn-box25 {
    background-color: blue;
    border-color: transparent;
    display: inline-block;
}

#ml-button {
    background-color: #fff159;
    border-color: transparent;
    color: #252e7c;
}

#config-button {
    background-color: lavender;
    border-color: transparent;
    margin-left: 20px;
}

#prov-button {
    background-color: darkolivegreen;
    color: #000;
}
.w-15{
    width: 15% !important;
}