@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <div class="container">
            <div class="fb-page" style="margin-bottom:2em;" data-href="https://www.facebook.com/ferreteroMC" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/FerreteroMC/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FerreteroMC/">Ferretería MC</a></blockquote>
            </div>
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido</h1>
            <p class="lead">Comience a trabajar tocando en algun controlador del menu superior...</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="carousel slide position-fixed" id="carouselExampleIndicators" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://image.shutterstock.com/image-vector/construction-concept-tools-shop-service-260nw-1227526900.jpg" alt="HardwareStoreItems">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://static.websguru.com.ar/var/m_6/64/642/59567/897456-Ferreter%C3%ADa-Kike-banner.png" alt="SalesMenu">
                </div>
                <div class="carousel-item">
                    <img class="d-block h-75 w-100" src="https://github.com/bluedaemondev/countERP/blob/master/imagenes/banner.png?raw=true" alt="ConfigurationMenu">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
        
    </div>
