@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Comienza a trabajar tocando en algun controlador arriba.<a href="https://docs.microsoft.com/aspnet/core"> building Web apps with ASP.NET Core</a>.</p>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ultimos movimientos</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="productos.html">Ver productos</a>
                <a class="dropdown-item" href="#">Ver variantes de productos</a>
                <a class="dropdown-item" href="#">Cargar una planilla de precios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Ferretería MC</a>
            </div>
        </div>
        

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://image.shutterstock.com/image-vector/construction-concept-tools-shop-service-260nw-1227526900.jpg" alt="HardwareStoreItems">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://static.websguru.com.ar/var/m_6/64/642/59567/897456-Ferreter%C3%ADa-Kike-banner.png" alt="SalesMenu">
            </div>
            <div class="carousel-item">
                <img class="d-block h-25 w-100" src="https://github.com/bluedaemondev/countERP/blob/master/imagenes/banner.png?raw=true" alt="ConfigurationMenu">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <div class="div-pad-top">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare sodales velit vitae suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim, orci vel consequat fermentum, nulla tortor varius dui, vitae gravida ante nibh quis metus. Pellentesque malesuada malesuada diam, lacinia convallis felis auctor eu. Cras ornare fermentum bibendum. Nam et convallis augue, vel tincidunt elit. Curabitur eget erat condimentum, tristique purus tempor, dignissim quam. Suspendisse sagittis neque eu imperdiet sodales. Pellentesque eget sagittis neque, vel luctus sapien. Aenean placerat libero non neque feugiat, ac dignissim ante blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce eu pharetra nunc.
        </p>
        <p>
            Nunc vel nunc est. Proin et semper libero, sed eleifend purus. Etiam maximus augue vel pharetra tempor. In hac habitasse platea dictumst. Suspendisse iaculis mauris in porttitor consequat. Fusce euismod auctor sapien et tristique. Pellentesque finibus semper erat et suscipit. Etiam pretium purus non accumsan lobortis. Integer ut lorem a ex tempus suscipit ut mollis massa. Proin vel tellus ac sapien imperdiet placerat non ut mauris. Donec quis est sodales, sagittis lectus id, viverra metus. Cras volutpat tempus sapien, pharetra venenatis metus posuere eu. Integer venenatis est sit amet turpis aliquet consectetur. Integer fermentum, magna ut pulvinar tincidunt, elit nunc pharetra arcu, vel pellentesque dolor enim a ligula.

        </p>
        <p>
            Maecenas posuere leo nec laoreet maximus. Vestibulum tempus nulla at risus cursus, nec dignissim lectus faucibus. Praesent diam nisl, rutrum vel urna sed, ullamcorper fermentum ex. Vivamus id porta nisl. Cras at nibh in odio maximus laoreet eget ut elit. Nulla id dapibus orci, et vehicula odio. Duis gravida et velit imperdiet consectetur.
        </p>
        <p>
            Maecenas a molestie nisi. Praesent efficitur ultrices gravida. Aenean enim ipsum, fringilla sed dolor ut, malesuada fringilla leo. Morbi non convallis ligula. Fusce eget vestibulum nisi. Suspendisse potenti. Suspendisse non sem turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Vestibulum vel nisl tellus. Curabitur massa neque, suscipit a lectus sodales, lacinia fermentum massa. Fusce eu elit at dui euismod pellentesque sed ullamcorper dui. Curabitur non elit at ligula accumsan dictum in vel eros. Sed sed tincidunt ex. Vivamus finibus arcu at dolor iaculis, vitae lobortis mauris placerat. Phasellus tincidunt mattis urna in viverra. Nullam condimentum velit non felis lobortis faucibus. Morbi tempus tincidunt mi blandit lobortis. Nam viverra, velit sit amet tincidunt sagittis, sapien tellus efficitur nisi, sit amet mattis mauris mauris eu velit. Nulla pellentesque porttitor magna. Nulla commodo, nunc a congue faucibus, lacus risus hendrerit dolor, sit amet bibendum mi augue eget urna. Aenean non lacinia nunc. Aliquam imperdiet ultricies leo, id dapibus turpis elementum at. Duis quis elit vitae ex eleifend iaculis.
        </p>
    </div>
</div>
<!--
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Elegí qué vas a hacer hoy: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Ayuda</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://image.shutterstock.com/image-vector/construction-concept-tools-shop-service-260nw-1227526900.jpg" alt="HardwareStoreItems">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://static.websguru.com.ar/var/m_6/64/642/59567/897456-Ferreter%C3%ADa-Kike-banner.png" alt="SalesMenu">
            </div>
            <div class="carousel-item">
                <img class="d-block h-25 w-100" src="https://github.com/bluedaemondev/countERP/blob/master/imagenes/pngtree-settingwrenchgear-line-and-glyph-solid-icon-blue-banner-line-png-image_1485932.jpg?raw=true" width="640" height="320" alt="Configuration">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    -->