@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="float-left w-75">
    <p>Desarrollado por Blackmood games &amp; systems. Versión de prueba ALPHA 0.0.1 </p>
</div>
<div class="float-left w-25">
    <p>I used to handle this shit. Bring it on!</p>
    <img src="https://www.paltreev.com/images/prv2.png"/>
</div>
